In [1]:
##Importing Necessary Libraries

import pandas as pd
import numpy as np
import statistics as st

In [2]:
## Importing Offline Dataset
dataframe = pd.read_csv('Iris.csv')

In [3]:
##Displaying first 5 Values of the dataset
dataframe.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
## Displayig the Information of Columns and its data types
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [5]:
## Displaying the Rows and Columns of dataset
dataframe.shape

(150, 6)

In [6]:
## Displays the staistical data of the dataset
dataframe.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [7]:
## Grouping the dataset by Species
grouped = dataframe.groupby('Species')

In [8]:
## Using Aggregate Funtion to display mean max min std of SepalLengthCm
grouped.agg({'SepalLengthCm': ['mean', 'max', 'min', 'std']})

                SepalLengthCm
                         mean  max  min       std
Species
Iris-setosa             5.006  5.8  4.3  0.352490
Iris-versicolor         5.936  7.0  4.9  0.516171
Iris-virginica          6.588  7.9  4.9  0.635880

In [9]:
## Using Aggregate Funtion to display mean max min std of SepalWidthCm
grouped.agg({'SepalWidthCm': ['mean', 'max', 'min', 'std']})

                SepalWidthCm
                        mean  max  min       std
Species
Iris-setosa            3.418  4.4  2.3  0.381024
Iris-versicolor        2.770  3.4  2.0  0.313798
Iris-virginica         2.974  3.8  2.2  0.322497

In [10]:
## Using Aggregate Funtion to display mean max min std of PetalLengthCm
grouped.agg({'PetalLengthCm': ['mean', 'max', 'min', 'std']})

                PetalLengthCm
                         mean  max  min       std
Species
Iris-setosa             1.464  1.9  1.0  0.173511
Iris-versicolor         4.260  5.1  3.0  0.469911
Iris-virginica          5.552  6.9  4.5  0.551895

In [11]:
## Using Aggregate Funtion to display mean max min std of PetalWidthCm
grouped.agg({'PetalWidthCm': ['mean', 'max', 'min', 'std']})

                PetalWidthCm
                        mean  max  min       std
Species
Iris-setosa            0.244  0.6  0.1  0.107210
Iris-versicolor        1.326  1.8  1.0  0.197753
Iris-virginica         2.026  2.5  1.4  0.274650

In [12]:
## Displaying the Counts of Data in Categories
dataframe.Species.value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [13]:
## Calculating standard deviation of PetalLengthCm
std_dev = st.stdev(dataframe.PetalLengthCm)

In [14]:
## Displaying standard deviation of PetalLengthCm
std_dev

1.7644204199522626